*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto';
}

.container{
  max-width: 1200px;
  margin: 3rem auto;
}
.dashboard{
  /* border: 1px solid red; */
}
.dashboard .dashboard-heading{
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(16, 192, 211);
  width: max-content;
  position: relative;
}
.dashboard .dashboard-heading span{
  display: inline-block;
  margin-left: 0.3rem;
}
.dashboard-heading::after{
  content: '';
  width: 100%;
  position: absolute;
  height: 2px;
  background-color: rgb(16, 192, 211);
  left: 0;
  bottom: -0.6rem;
}

.dashboard-search-filter-container{
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: center;
}
.dashboard .dashboard-search-container{
  flex-basis: 50%;
  position: relative;
}
.dashboard-search-container::after{
  content: '';
  width: 200%;
  left: 0;
  top: -2rem;
  height: 1px;
  background-color: black;
}

.dashboard-search-container #search-input{
  display: block;
  width: 100%;
  height: 40px;
  font-size: 1rem;
  padding: 0 3rem;
  font-family: 'Roboto', sans-serif;
  outline: none;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 0.3rem;
}
.dashboard-search-container #search-input:focus{
  outline: 3px solid rgb(232, 243, 247);
}
.dashboard-search-container i.search-bar-icon{
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: rgb(200, 200, 200);
}
.dashboard-search-container i.clear-search-btn{
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  cursor: pointer;
  padding: 0.2rem;
}
.dashboard-search-filter-container .dashboard-filter-container{
  border: 1px solid rgb(200, 200, 200);
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.dashboard-filter-container i{
  display: inline-block;
  color: rgb(200, 200, 200);
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.dashboard-filter-container span{
  color: rgb(123, 123, 123);
}

.customers-detail-table{
  margin-top: 2.5rem;
  width: 100%;
}

.customers-detail-table tr th:nth-child(1), tr td:nth-child(1){
  width: 120px;
}
.customers-detail-table tr th:nth-child(2), tr th:nth-child(2){
  width: 220px;
}
.customers-detail-table tr th:nth-child(3), tr th:nth-child(3){
  width: 250px;
}
.customers-detail-table tr th:nth-child(4), tr th:nth-child(4){
  width: 320px;
}
.customers-detail-table tr th:nth-child(5), tr th:nth-child(5){
  width: 150px;
}
.customers-detail-table tr th:nth-child(6), tr th:nth-child(6){
  width: 140px;
}

.customers-list-headings{
  background-color: rgb(238, 246, 247);
}
.customers-list-headings th{
  text-align: left;
  padding: 0.7rem 1rem;
  font-size: 0.95rem;
}
.customers-list-headings th.date-order-heading{
  cursor: pointer;
  position: relative;
}
th.date-order-heading .sort-options{
  position: absolute;
  top: 100%;
  left: 0;
  border-top: 1px solid rgb(200, 200, 200);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 246, 247);
  padding: 0.5rem 0;
}
th.date-order-heading .sort-options span{
  display: inline-block;
  font-size: 0.9rem;
  padding: 0.3rem 1rem;
  font-weight: 500;
}

.customers-detail-table .detail-row td{
  padding: 0.7rem 1rem;
  font-weight: 500;
  font-size: 1rem;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.customers-detail-table tr .address-country-info .address-info{
  margin-top: 0.3rem;
  font-size: 0.9rem;
  color: rgb(123, 123, 123);
  font-weight: 400;
} 
.customers-detail-table tr .product-info .product-des-info{
  margin-top: 0.3rem;
  font-size: 0.9rem;
  color: rgb(123, 123, 123);
  font-weight: 400;
}
.customers-detail-table tr .date-order-info{
  font-size: 0.95rem;
}

.customers-detail-table tr .status-info.blue{
  color: rgb(16, 192, 211);
}
.customers-detail-table tr .status-info.green{
  color: rgb(16, 228, 129);
}
.customers-detail-table tr .status-info.yellow{
  color: rgb(248, 153, 10);
}
.customers-detail-table tr .status-info.red{
  color: rgb(245, 130, 109);
}


/* Filter Modal */
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.289);
}
.modal .modal-content{
  background-color: white;
  padding: 2rem;
  border-radius: 0.2rem;
}
.modal-content .option-list-container{
  display: flex;
}
.option-list-container .option-list-container-heading{
  font-size: 1rem;
  text-transform: uppercase;
}
.modal-content .option-list-container .option-list-items{
  margin-left: 3rem;
}
.option-list-items .option-list-item{
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.option-list-item input{
  cursor: pointer;
}
.option-list-item label{
  display: inline-block;
  margin-left: 0.3rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.modal-content .show-results-btn{
  margin-top: 3rem;
  text-align: right;
}
.modal-content .show-results-btn button{
  padding: 0.5rem 0.9rem;
  border: none;
  background-color: rgb(16, 192, 211);
  color: white;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 0.2rem;

}